body{
  background-color: bisque;
  background-image: image();
}
.header{
  text-align: center;

}

/* input */
input{
  padding: 0.75em;
  width: 30vw;
  background-color: antiquewhite;
  border-radius: 5px;
}

/* button inside input div */
.inputdiv button{
  padding: 0.6rem;
  background-color: antiquewhite;
  border-radius: 5px;
  margin-left: 1rem;
}

ul{
  display: flex;
  flex-direction: column;
  
  /* margin-left: 20%;
  margin-right: 20%; */
  justify-content: center;
  
  /* border: 5px solid gray; */
}

.map{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 1rem;

}

.map button{
  padding: 0.6rem;
  background-color: antiquewhite;
  border-radius: 5px;
  margin-left: 1rem;

}

/* font size of list */

li{
  font-size: large;
  font-weight: 500  ;
  font-family: 'Times New Roman', Times, serif;
}

.inputdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  
}